---
---
- if item[:kind] == 'article'
  %footer
    %time{:datetime => Time.parse(item[:created_at]).iso8601}= pretty_time(item[:created_at])

    - if item[:tags]
      %ul.tags
        - item[:tags].sort.each do |tag|
          %li= tag
